@{
    ViewData["Title"] = "About Us";
}

<section class="mission">
    <div class="container">
        <h1 class="text-center">Our benefits of products</h1>
        <p class="text-center">
            The South African government has taken a significant step to alleviate the challenges faced by the agricultural industry as a result of frequent power outages by establishing the Agro-Energy Fund, an R1.2 billion financial initiative. With individual grants of up to R1.5 million, this fund aims to assist farmers across the country in adopting renewable energy sources such as solar energy, biomass, and biogas plants.
            This initiative, a joint effort of the Department of Agriculture and the Land Bank, holds great promise for a variety of agricultural sectors, including dairy farms, piggeries, poultry farms, and irrigated crop production. The primary motivation for this fund is to address the negative effects of load shedding on South African agriculture and food production.

            The ongoing issue of load shedding has raised concerns about the security of food supplies. Due to power outages in 2022, one farm was forced to discard 12,000 litres of spoiled milk in a single day. Another poultry farmer suffered significant losses, with up to 50,000 of his birds dying as a result of power outages. The consequences of such power outages have posed significant challenges to the agricultural sector.

            Astral, South Africa’s largest chicken producer, previously highlighted the poultry industry’s crisis, revealing that the company was spending roughly R1 million per day on diesel to keep operations running. Furthermore, there was an egg shortage and disruptions in the chicken supply chain. These issues highlighted the critical need for agricultural alternative energy solutions.

            Agriculture Minister Thoko Didiza has stated that the Agro-Energy Fund will use a hybrid financing model, allowing farmers to apply for both grants and loans to help them transition to alternative energy sources. This financial assistance will allow farmers, regardless of size, to acquire the necessary equipment and infrastructure for energy-intensive activities such as cold chain production and irrigation.

            The structure of the fund accounts for the varying needs of small, medium, and large-scale farmers. Small-scale farmers can receive grants of up to R500,000, while medium-scale farmers can receive grants of up to R1 million. Large-scale farmers could receive up to R1.5 million in funding. Small-scale farmers will receive a higher proportion of grant funding (70% grant; 30% loan), medium-scale operations will receive an equal distribution (50% grant; 50% loan), and large-scale farmers will receive a higher proportion of loan funding (70% loan; 30% grant).

            Farmers must apply for this assistance through the Land Bank, along with a comprehensive business plan and a proposal for the alternative energy source they intend to use. Applicants must also have an environmental licence and a licence approved by the National Energy Regulator of South Africa (Nersa). The ability to implement self-use renewable energy for farming operations is also required.

            Minister Didiza emphasised the importance of the Agro-Energy Fund during its launch, saying, “The country, particularly the agricultural sector, has suffered from the energy cuts.” We felt it was prudent as a sector to provide solutions to enable food production and minimise production interruptions, especially for producers who rely heavily on energy.”
        </p>
    </div>
</section>

<style>
    body{
        background-color: green
    }

</style>