@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center justify-content-center">
    <h1 class="display-4">Agri-Energy Connect Platform</h1>

    <div class="d-inline-block">
        <a class="btn btn-primary" href="/Farmer/Approve">FarmerRole</a>
        <a class="btn btn-primary" href="/Employee/Create">EmployeeUser</a>
    </div>
</div>

<style>
    body{
        background-color: green
    }

</style>

<section class="mission">
    <div class="container">
        <h1 class="text-center">Our Contribution</h1>
        <p class="text-center">
            Engage with fellow farmers, share insights, and learn from each other.
            Marketplace tailored to the needs of farmers, where you can buy, sell, and trade diverse agricultural products.
            Advocate for green practices, clean energy solutions, and sustainable agriculture.

            Agro Energy Connect was founded with the vision of revolutionizing the agricultural industry by leveraging community and technology. We aim to bring farmers closer together, foster collaboration, and promote sustainable agricultural practices. With a commitment to green energy and eco-friendly initiatives, we are dedicated to making a positive impact on the environment and the farming community.
            Our mission is to create a thriving community where farmers can interact, collaborate, trade, and promote sustainable practices together. Together, we are transforming the agricultural industry, making it more efficient, sustainable, and community-centric.
        </p>
    </div>
</section>

   